extends layout

block content
  .row
    .col-sm-12.col-md-8.offset-md-1
      .card
        .chat-content

        .chat-controls.input-group
          textarea.form-control(aria-label='Chat text')
          .input-group-append
            button#send.input-group-text.btn.btn-primary(type='button') Send

    .col-sm-12.col-md-3
      #rooms.card


  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='javascripts/chat.js')
